@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
	min-height: 100%;
	margin: 0;
}

body {
	background: #f5f8f6;
	color: #20332d;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
